################################
# data files & folders
################################

datasets/data/

################################
# flowlines files & folders
################################

datasets/flowlines/*.ipynb
datasets/flowlines/DS_Flowline_Query_distance_checks.xlsx
datasets/flowlines/ME_Flowline_Network.gexf
datasets/flowlines/Surface_Water.qgz
datasets/flowlines/US_NHD_Flowline_HUC01-2ttl_nxTC.py
datasets/flowlines/.ipynb_checkpoints/
datasets/flowlines/logs/
datasets/flowlines/OLD/
datasets/flowlines/Orphaned_flowlines/
datasets/flowlines/ttl_files/

################################
# groundwater files & folders
################################

datasets/groundwater/Aquifer_Attributes.xlsx

datasets/groundwater/il-isgs/logs/
datasets/groundwater/il-isgs/ttl_files/

datasets/groundwater/me-mgs/*.ipynb
datasets/groundwater/me-mgs/Maine_Aquifers_&_Wells_2.qgz
datasets/groundwater/me-mgs/QGIS_processing_notes.txt
datasets/groundwater/me-mgs/.ipynb_checkpoints/
datasets/groundwater/me-mgs/logs/
datasets/groundwater/me-mgs/OLD/
datasets/groundwater/me-mgs/ttl_files/

datasets/groundwater/us_principal_aquifers/*.ipynb
datasets/groundwater/us_principal_aquifers/.ipynb_checkpoints/
datasets/groundwater/us_principal_aquifers/logs/
datasets/groundwater/us_principal_aquifers/OLD/
datasets/groundwater/us_principal_aquifers/ttl_files/

################################
# sdwis files & folders
################################

datasets/sdwis/ttl_files/

################################
# surface_water files & folders
################################

datasets/surface_water/*.ipynb
datasets/surface_water/.ipynb_checkpoints/
datasets/surface_water/logs/
datasets/surface_water/OLD/
datasets/surface_water/ttl_files/

################################
# wbd files & folders
################################

datasets/wbd/*.ipynb
datasets/wbd/.ipynb_checkpoints/
datasets/wbd/logs/
datasets/wbd/OLD/
datasets/wbd/ttl_files/

################################
# wells files & folders
################################

datasets/wells/Well_Attributes.xlsx
datasets/wells/Wells_Across_States.qgz

datasets/wells/il-isgs/*.ipynb
datasets/wells/il-isgs/*.tsv
datasets/wells/il-isgs/il-isgs-wells.ttl
datasets/wells/il-isgs/il-isgs-wellsGeo.ttl
datasets/wells/il-isgs/README_2025-01-22_ISGS.MD
datasets/wells/il-isgs/.ipynb_checkpoints/
datasets/wells/il-isgs/__pycache__/
datasets/wells/il-isgs/ttl_files
datasets/wells/il-isgs/ttl_files/*.ipynb

datasets/wells/me-mgs/*.ipynb
datasets/wells/me-mgs/log
datasets/wells/me-mgs/mgs_wells_located_output.ttl
datasets/wells/me-mgs/mgs_wells_unlocated_output.ttl
datasets/wells/me-mgs/README_2025-01-22_MGS.MD
datasets/wells/me-mgs/towns_located.ttl
datasets/wells/me-mgs/towns_unlocated.ttl
datasets/wells/me-mgs/.ipynb_checkpoints/
datasets/wells/me-mgs/__pycache__/
datasets/wells/me-mgs/ttl_files/

#data/il-isgs/il-wells.geojson

#data/mgs_wells/Maine_Well_Database_-_Unlocated_Wells.csv
#data/mgs_wells/Maine_Well_Database_-_Well_Depth.csv
#data/mgs_wells/Maine_Well_Database_-_Well_Depth_original.csv
/.idea
/__pycache__
